/*@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');*/
@keyframes bodyAnimation{
    from {opacity: 0.0; transform: translate(0%, 5%);}
    to {opacity: 1.0; transform: translate(0%, 0%);}
}
@keyframes image{
    from{transform: scale(0.1, 0.1);}
    to {transform: scale(1.0, 1.0);}
}
html{
    overflow-y: scroll; /* Show scrollbars */
    overflow-x: auto;
}

html, body { 
    height : 95%;
    max-width: 1000px;
    margin:auto;
    padding: 1%;
    animation-name: bodyAnimation;
    animation-duration: 2s;
}
h1, h2, h3, p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(25, 25, 25);
}
b {
    color: rgb(0, 0, 0);
}
.center {
    margin: auto;
    width: 80%;
    padding: 1%;
}
a {
    color: rgb(25, 25, 25);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img{
    max-width: 100%;
    width : auto;
    height: auto;
    animation-name: image;
    animation-delay: -0.25s;
    animation-duration: 1s;
    transition: transform 0.1s ease-in;
}

/*.img_clicked {
    transform: scale(1.25, 1.25);
}*/

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 420px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 50%;
  margin-left: -210px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}