@keyframes faded
{
    from{opacity: 0.0;}
    to {opacity: 1.0;}
}

html
{
    overflow-y: auto;
    overflow-x: hidden;
}

html, body
{ 
    height : 95%;
    max-width: 1000px;
    margin:auto;
    padding: 1%;
    
    animation-name: faded;
    animation-duration: 1s;
    transition: transform 1s ease-in;
}

h1, h2, h3, p 
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(25, 25, 25);
}

p, h2, h3, h1 {
    font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
}

h3{
    margin-top: 1%;
    margin-bottom: 0%;
}

b 
{
    color: rgb(0, 0, 0);
}

.center
{
    margin: auto;
    width: 80%;
    padding: 1%;
}

a
{
    color: rgb(25, 25, 25);
    text-decoration: none;
}

a:hover 
{
    text-decoration: underline;
}

img
{
    max-width: 100%;
    width : auto;
    height: auto;
    animation-delay: -1s;
    animation-name: faded;
    animation-duration: 1s;
    transition: transform 1s ease-in;
}

.blog_date{
    font-size: small;
    color: gray;
}

.blog_post{
    outline-color: black;
    outline-width: 1px;
    outline-style: solid;
    padding: 1%;
}

.prevent_select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }